.conference, .data_challenge {
  width: 100%;
  margin: 1em auto; }
  @media (min-width: 800px) {
    .conference, .data_challenge {
      width: 80%; } }
  .conference__description, .data_challenge__description {
    width: 100%;
    margin-top: 1em; }
  .conference__content, .data_challenge__content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em; }
    @media (min-width: 800px) {
      .conference__content, .data_challenge__content {
        flex-wrap: nowrap;
        justify-content: space-between; } }
    .conference__content__format, .data_challenge__content__format {
      width: 100%; }
      @media (min-width: 800px) {
        .conference__content__format, .data_challenge__content__format {
          margin-top: 0;
          width: 45%; } }
    .conference__content__date, .data_challenge__content__date {
      width: 100%;
      margin-top: 2em; }
      @media (min-width: 800px) {
        .conference__content__date, .data_challenge__content__date {
          margin-top: 0;
          width: 45%; } }
@media (min-width: 1200px) {
  .when_where {
    margin-bottom: 1.5em; } }

.when_where__text {
  width: 100%; }
  @media (min-width: 1200px) {
    .when_where__text {
      width: 35%; } }
  .when_where__text__details li {
    list-style: none;
    margin: .5em 0; }
    .when_where__text__details li img {
      height: auto;
      width: 1em;
      object-fit: cover;
      margin-right: .25em;
      display: inline-block; }

.when_where__map {
  width: 100%;
  height: 100%;
  margin: 0 auto; }
  @media (min-width: 1200px) {
    .when_where__map {
      width: 60%;
      height: auto; } }
  .when_where__map iframe {
    height: 40vh; }
    @media (min-width: 1200px) {
      .when_where__map iframe {
        height: 100%; } }
.accommodation__content__image img {
  border-radius: 5px; }

.organizers__content, .local_organizers__content {
  justify-content: center;
  align-items: start; }
  @media (min-width: 1920px) {
    .organizers__content, .local_organizers__content {
      justify-content: space-evenly; } }
.organizers__people, .local_organizers__people {
  width: 49%;
  margin: 1.2em 0em; }
  @media (min-width: 800px) {
    .organizers__people, .local_organizers__people {
      width: 32%; } }
  @media (min-width: 1200px) {
    .organizers__people, .local_organizers__people {
      width: 22%; } }
  @media (min-width: 1920px) {
    .organizers__people, .local_organizers__people {
      width: 14%; } }
  .organizers__people__image, .local_organizers__people__image {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    overflow: hidden; }
  .organizers__people__name, .local_organizers__people__name {
    width: 100%;
    font-size: 1em;
    font-weight: 600;
    text-align: center; }
  .organizers__people__position, .local_organizers__people__position {
    font-size: 1em;
    text-align: center; }

@media (min-width: 1200px) {
  .local_organizers__people {
    width: 18%;
    margin-bottom: 3em; } }

.program_committee__content {
  justify-content: center;
  margin-bottom: 1.5em; }
  @media (min-width: 1200px) {
    .program_committee__content {
      height: auto;
      overflow-y: visible;
      justify-content: space-around; } }
  .program_committee__content ul {
    width: 100%;
    margin-left: 0; }
    @media (min-width: 1200px) {
      .program_committee__content ul {
        margin-left: 2.5%;
        width: 45%; } }
.past_editions__content__event {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 2em; }
  .past_editions__content__event__place {
    width: 100%;
    position: relative;
    margin-bottom: 1em; }
    .past_editions__content__event__place__name {
      font-weight: 600;
      padding: 1em;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border-radius: 5px; }
    .past_editions__content__event__place__image {
      width: 100%;
      height: 20vh;
      overflow: hidden;
      border-radius: 5px; }
      @media (min-width: 800px) {
        .past_editions__content__event__place__image {
          height: 30vh; } }
      @media (min-width: 1200px) {
        .past_editions__content__event__place__image {
          height: 40vh; } }
      .past_editions__content__event__place__image img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    @media (min-width: 1200px) {
      .past_editions__content__event__place {
        width: 70%; } }
    @media (min-width: 1200px) {
      .past_editions__content__event__place.mit {
        width: 100%; } }
  .past_editions__content__event__edition {
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 2em; }
    .past_editions__content__event__edition:last-child {
      margin-bottom: 0; }
    .past_editions__content__event__edition__title {
      font-weight: 600; }
    @media (min-width: 1200px) {
      .past_editions__content__event__edition {
        width: 24%;
        padding: 0 1em; } }
    .past_editions__content__event__edition::after {
      content: '';
      position: absolute;
      display: block;
      background-color: rgba(58, 58, 58, 0.1);
      width: 70%;
      height: 1px;
      left: 15%;
      margin: 1em 0; }
      @media (min-width: 1200px) {
        .past_editions__content__event__edition::after {
          width: 1px;
          height: 70%;
          top: 15%;
          left: unset;
          right: -2%; } }
    .past_editions__content__event__edition:last-child::after {
      display: none; }

@media (min-width: 1200px) {
  .support__content {
    justify-content: center; } }

.support__content__intro {
  width: 100%; }

.support__content__logo {
  height: 4em;
  max-width: 100%; }
  @media (min-width: 1200px) {
    .support__content__logo {
      height: 5em;
      max-width: 33%; } }
  .support__content__logo.imdea, .support__content__logo.uc3m {
    width: 40%; }
  .support__content__logo.orange {
    width: 15%; }
  .support__content__logo img {
    height: 100%;
    width: 100%;
    object-fit: contain; }
